header {
  width: 100%;
  transition: background-color 0.3s ease;
}

.header-bar {
  background-color: #212631;
  color: #f0f1f5;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
