.buttons {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.25rem;
  flex: 1;
  justify-content: flex-end;
  align-items: end;
}

.note-btn {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 100%;
  transition: 0.3s ease;
  border: none;
  display: flex;
  align-items: end;
}
.note-btn::after {
  content: attr(data-message);
  position: absolute;
  top: -0.75rem;
  left: -0.5rem;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.5rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 1000;
}

.note-btn:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-0.5rem);
}
.note-btn.btn-delete:hover:after {
  transform: translateX(-50%) translateY(-0.7rem);
}

.btn-archive::after {
  content: "Arsipkan Catatan";
}

.btn-unarchive::after {
  content: "Batalkan Arsip";
}

.btn-delete::after {
  content: "Hapus Catatan";
}

.btn-archive svg,
.btn-unarchive svg {
  display: flex;
  align-items: end;
  padding-top: 1px;
  font-size: 1.3rem;
  path {
    color: #373f4e;
  }
}

.btn-delete svg {
  font-size: 1.1rem;
  padding-bottom: 1px;
  path {
    color: #373f4e;
  }
}

.note-btn:hover {
  svg path {
    color: #212631;
  }
}

.note-btn:active {
  svg path {
    color: #0a0e15;
  }
}
