:root {
  --search-input-background: transparent;
  --search-input-border: #f0f1f5;
  --search-input-text: #f0f1f5;
  --search-submit-icon: #212631;
  --search-submit-icon-hover: #ffffff;
  --search-submit-bg-hover: #212631;
  --search-submit-bg-act: #4e576a;
}

[data-theme="light"] {
  --search-input-background: transparent;
  --search-input-border: #f0f1f5;
  --search-input-text: #f0f1f5;
  --search-submit-icon: #212631;
  --search-submit-icon-hover: #ffffff;
  --search-submit-bg-hover: #212631;
  --search-submit-bg-act: #4e576a;
}

#searchForm {
  width: 100%;
  grid-area: searchForm;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

#searchInput {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  flex: 1;
  background-color: var(--search-input-background);
  color: var(--search-input-text);
  border: 1px solid var(--search-input-border);
}

#searchSubmit {
  padding: 0.5rem 0.8rem;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-icon {
  path {
    color: var(--search-submit-icon);
  }
}

#searchSubmit:hover {
  background-color: var(--search-submit-bg-hover);

  .search-icon {
    path {
      color: var(--search-submit-icon-hover);
    }
  }
}

#searchSubmit:active {
  background-color: var(--search-submit-bg-act);
}
