footer {
  width: 100%;
  transition: background-color 0.3s ease;
  background-color: #212631;
}

.footer-bar {
  color: #f0f1f5;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-footer {
  text-align: center;
}
